@import "~react-vis/dist/style";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191a !important;
  color: #e4e6eb !important;
  letter-spacing: 0.5px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
}
.game {
  text-align: center;
  padding: 0 !important;
  position: relative;
  height: 500px;
  background-color: #2b87d1;

  border-radius: 0.25rem;

  .started {
    background-color: rgb(75, 219, 106);
  }
  .stoped {
    background-color: rgb(206, 38, 54);
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: inherit;
    border-radius: 0.25rem;
    cursor: pointer;
    p {
      font-size: 48px;
    }
    svg {
      width: 85px;
    }
  }
  &__gag {
    min-width: 100%;
    height: inherit;
    border-radius: 0.25rem;
  }
}
.card {
  position: absolute !important;
  top: 50%;
  left: 50%;
  min-width: 500px !important;
  transform: translate(-50%, -50%);
  background-color: #242526;
}
div.start {
  border: 2px solid #000;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
}
